.ck {
    --ck-border-radius: #{$border-radius};
    --ck-color-link-default: #{$link-color};
    --ck-custom-border: #{$border-color};
    --ck-color-base-border: #{$border-color};
    --ck-color-toolbar-border: #{$border-color};
    --ck-inner-shadow: none;
}
